---
// Basic Contact Form
// ------------
// Description: A basic contact form with fields for first name, last name, email, phone number and message.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

// Components
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
	<CardBody>
		   <Form name="Inquiry" id="contact-form" data-netlify="true" action="/thanks" method="post">
			   <input type="hidden" name="form-name" value="Inquiry" />
			<h2 class="text-2xl">Get in Touch</h2>
			<FormField>
				<InputField type="text" id="firstName" name="firstName" label="First Name" required />
				<InputField type="text" id="lastName" name="lastName" label="Last Name" required />
			</FormField>
			<FormField>
				<InputField type="email" id="email" name="email" label="Email" required value="" />
			</FormField>
			<FormField>
				<InputField type="tel" id="phone" name="phone" label="Phone Number" required />
			</FormField>
			<FormField><TextArea id="message" name="message" label="Your Message" required /></FormField>
			<Button style="primary" type="submit">Submit</Button>
		</Form>
	</CardBody>
</Card>
